@use "../../common.scss" as c;
@use "lordis-react-components/index" as bs;
@use 'sass:color';

.product-box {
  @include c.neon-border($neon-colour: bs.$primary, $border-radius: 20px);
  background-color: lighten(bs.$body-bg-dark, 5%) !important;
  background-image: none;

  .title {
    color: white;
  }
}

.additional-product-information {
  @include c.neon-border($neon-colour: bs.$secondary, $border-radius: 20px);
  background-color: lighten(bs.$body-bg-dark, 5%);
  background-image: none !important;
  border-radius: 10px !important;
}

.product-variant {
  border: 1px solid rgb(255 255 255 / 0.8) !important;
}

.product-variant:hover {
  border: 2px solid bs.$secondary !important;
  background-color: darken(bs.$secondary, 40%) !important;
}

.selected-product-variant {
  background-color: darken(bs.$primary, 60%);
  border: 2px solid bs.$primary !important;
  margin-bottom: 10px;
}