@use "../../common.scss" as c;
@use "lordis-react-components/index" as bs;
@use 'sass:color';

#home {
  .home-title-container {
    padding: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      max-height: 40vh;
    }
  }

  .ghost-factory-showcase {
    display: flex;
    gap: 10px;
    margin-bottom: -15px;
    width: 100%;

    > div {
      @include c.neon-border(bs.$secondary);
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      background-color: transparent;
      padding: 0;

      img {
        width: 100%;
      }
    }

    @media screen and (orientation: portrait) {
      gap: 2px
    }
  }

  .text-block {
    position: relative;
    padding: 10px;
    @include c.neon-border;
    background-color: var(--bs-body-bg);
    text-align: center;
  }

  #shop-navigator {
    display: flex;
    gap: 5vw;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    .btn {
      @include c.neon-border(bs.$primary, 25px);
      background-color: var(--bs-body-bg);

      display: flex;
      align-items: center;
      flex-direction: column;

      max-width: min(40%, 400px);
      max-height: 400px;
      box-sizing: border-box;

      img {
        width: 80%;
      }
    }
  }
}