@use "../../common.scss" as c;
@use "lordis-react-components/index" as bs;
@use 'sass:color';

$header-height: 64px;

.header-page-space {
  height: calc($header-height + 5px);
}

.header {
  background-color: color.adjust(bs.$body-bg-dark, $alpha: -0.4);
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: calc(100vw - 10px);

  z-index: 100;
  display: flex;
  align-items: center;
  height: $header-height;
  @include c.neon-border;
  filter: none;

  .logo {
    height: $header-height;
    padding: 4px;
  }
}

.header-spacer{
  width: 100%;
  flex-grow: 1;
}

