// Sass deprecation warnings are shown when compiling source Sass files with the latest versions of Dart Sass. This
// does not prevent compilation or usage of Bootstrap. A long-term fix is in progress, but in the meantime these
// deprecation notices can be ignored.

@use 'sass:color';
@use "lordis-react-components/index" as bs with (
 $primary: #f38cde,
 $secondary: #7a56b0,
 $link-color: #f38cde,
 $font-family-sans-serif: "Open Dyslexic",
 $enable-dark-mode: true
);

@font-face {
  font-family: Open Dyslexic;
  src: url("https://iumlpfiybqlkwoscrjzt.supabase.co/storage/v1/object/public/other-assets/Glow%20Me!/open_dyslexic/OpenDyslexicAlta-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: Roadside Sans;
  src: url("https://iumlpfiybqlkwoscrjzt.supabase.co/storage/v1/object/public/other-assets/Glow%20Me!/roadside-sans-demo/RoadsideSansDemo-Regular.otf");
  font-display: swap;
}

h1 {
  font-family: "Roadside Sans", "Open Dyslexic", sans-serif;
}

/* Starry Background */
body:before {
  content: "";
  background-image: url("https://iumlpfiybqlkwoscrjzt.supabase.co/storage/v1/object/public/other-assets/Glow%20Me!/Stars.svg");
  background-size: 210px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

.content {
  gap: 20px;
  padding: 2vh 1vw 3vh 1vw;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: bs.$primary;
}

a:hover {
  color: lighten(bs.$primary, 15%);
}

@mixin neon-border($neon-colour: bs.$primary, $border-radius: 3px) {
  box-shadow: 0 0 0 2px $neon-colour, 0 0 0 3px white, 0 0 0 5px $neon-colour;
  filter: drop-shadow(0 0 3px $neon-colour);
  border-radius: $border-radius;
}

.btn-primary {
  @include bs.button-variant(bs.$primary, transparent,
  $color: white,
  $hover-background: darken(bs.$primary, 10%),
  $hover-color: white,
  $active-background: darken(bs.$primary, 15%),
  $active-color: bs.$gray-300,
  $disabled-color: bs.$gray-100,
  );
}

.btn-secondary {
  @include bs.button-variant(bs.$secondary, transparent,
  $color: white,
  $hover-background: darken(bs.$secondary, 10%),
  $hover-color: white,
  $active-background: darken(bs.$secondary, 15%),
  $active-color: bs.$gray-300
  );
}

// ============ Product ============ //
.product {
  @include neon-border(bs.$secondary, 20px);
  background-color: bs.$body-bg-dark;
  color: white;
  overflow: hidden;

  .product-text {
    color: inherit;
    margin: 15px;

    .product-name {
      font-size: 16px;
    }
  }
}

.ticker-text {
  background-color: inherit;

  input {
    background-color: inherit;
  }
}

// ============ Basket Manager ============ //

#basket {
  margin: 10px;
}

#basket #basket-item-count {
  background-color: color.adjust(bs.$primary, $alpha: -0.2);
}

.basket-display {
  overflow-x: visible;
}

.basketItems {
  padding: 5px;
}